*{
    margin: 0;
    padding: 0;
}

.header{
    background-color: rgb(0, 0, 0);
    width: 100vw;
    height: 80px;
    border-bottom: 4px solid rgb(160, 155, 50);
}

.header .container{
    width: 80%;
    height: 100%;
    margin: 0 10%;
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.logo{
    color: rgb(160, 155, 50);
    margin:  0;
    font-size:35px
    
}

.header .container li{
    display: inline;
    padding: 0 30px;
    color: rgb(160, 155, 50);
}

.header .container .navbar li a{
    text-decoration: none;
}

.background{
    width: 100vw;
    display: flex;
}

body{
    background-color: rgb(59, 10, 10);
}

.fundo{
    width: 80vw;
    background-color: antiquewhite;
    margin: 50px 10vw 200px 10vw;
    border: 4px solid rgb(160, 155, 50);
    display: flex;
    flex-direction: column;
    align-items:center;
    
}

.titulo{
    display: flex;
    align-items: center;
    justify-content: center;
}

h1{
    text-align:center;
    font-size:80px;
}

.Cafeeiro{
    width: 500px;
    border: 4px solid rgb(160, 155, 50);
    
}
.fileira{
    margin: 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

.imagem{
    width: fit-content;
    border:  4px solid rgb(59, 10, 10);
    background-color: rgb(160, 155, 50);
}

.texto{
    width: 800px;
    font-size:25px;
    text-align:center;
}

.texto h1{
    font-size: 50px;
    
}

.fundo .container{
    width: 93%;
    display: flex;
    justify-content: center;
    flex-direction: column;

}

.imgTitulo{
    margin-top: 20px;
    width: 150px;
}

.imgFundo{
    width: 100%;
    display:flex;
    align-items: end;
}

.Processos{
    width: 300px;
}

.fileira button{
    background-color: antiquewhite;
    border: antiquewhite;
    
}