*{
    margin: 0;
    padding: 0;
    font-family: 'Cinzel', serif;
}

.body{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-image: url(Imagens/Background\ Body.png);
}

.fundo{
    width: 95%;
    height: 95%;
    background-color: black;
    border: solid 3px black;
}

.sistemaHeader{
    width: 100%;
    height: 5%;
    background-color: #6a4701;
    border-bottom: solid 3px black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sistemaHeader .usuario span{
    color: #f5cd55;
    font-size: 30px;
    margin-left: 15px;
}

.sistemaHeader .sair a{
    text-decoration: none;
    color: #f5cd55;
    font-size: 20px;
    margin-right: 15px;
}

.sistemaBody{
    display: flex;
    height: 95%;
    width: 100%;
    justify-content: space-between;
}

.sistemaMenu{
    width: 20%;
    height: 845px;
    background-color: #fff2d6;
    border-right: solid 3px black;
}

.sistemaMenu button{
    width: 100%;
    height: 50px;
    font-size: 20px;
    border: solid 3px black;
    background-color: #ecc271;
}

.sistemaMenu button:hover{
    width: 100%;
    height: 50px;
    font-size: 19px;
    border: solid 3px black;
    background-color: #fff2d6;
}

.setores button{
    height: 30px;
    font-size: 15px;
    border: solid 3px black;
    background-color: #fff2d6;
}

.sistemaDados{
    width: 1500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.sistemaDados .Dados{
    width: 1500px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.sistemaDados .Dados .coluna{
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: #f5cd55;
    font-size: 30px;
    width: fit-content;
}

.sistemaDados .tituloDados{
    color: #f5cd55;
    font-size: 50px;
}


.sistemaDados .coluna table{
    color: #f5cd55;    
    font-size: 30px;
    text-align: left;
    margin-bottom: 100px;
}
td, th{
    border: solid 3px #f5cd55;
    padding: 5px 10px 5px 10px;
}

.sistemaDados .graficos1{
    width:700px;
    height: 350px;
    color: #f5cd55;
}

.sistemaDados .graficos{
    width: 300px;
    height: 300px;
    color: #f5cd55;
}

.pesquisa{
    width: 1500px;
    height: 800px;
    justify-content: space-around;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 40px;
}

.tituloPesquisa{
    color: #f5cd55;
}

.fileiraPesquisa{
    width: 80%;
    display: flex;
    justify-content: space-around;
}

.fileiraPesquisa button{
    background-color: black;
    border: solid 3px #f5cd55;
    color: #f5cd55;
    height: 80px;
    width: 300px;
    font-size: 25px;
}

.fileiraPesquisa button:hover{
    background-color: rgb(0, 0, 0);
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(175,0,0,1) 50%, rgba(0,0,0,1) 100%);
    border: solid 5px #f5cd55;
    color: #f5cd55;
    height: 80px;
    width: 300px;
    font-size: 25px;
}

.fileiraPesquisa span{
    color: #f5cd55;
    width: 300px;
    text-align: center;
}

