/* header */
*{
    margin: 0;
    padding: 0;
    font-family: 'Cinzel', serif;
}

.header{
    background-color: black;
    display: flex;
    flex-direction: column;
    padding-left: 2%;
    padding-right: 2%;
}

.header img{
    width: 10%;
}

.header a{
    text-decoration: none;
    color: #f5cd55;
}

.header .barraNavegacao{
    display: flex;
    flex-direction: row;
    font-size: 30px;
    width: 90%;
    justify-content: space-around;
}

.login{
width: 100%;
text-align: end;
}

.container{
display: flex;
justify-content: space-between;
align-items: baseline;
}

.header .logo{
    font-size: 40px;
}

/* Body */

.body{
    width: 100%;
    height: fit-content;
    background-image: url(Imagens/Background\ Body.png);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fundo{
    background-color: black;
    width: 90vw;
    border: solid #f5cd55;
    display: flex;
    justify-content: center;
}

.fundo .container{
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fundo h2{
    color: #f5cd55;
    text-align: center;
    margin-top: 5%;
    font-size: 60px;
}

.fundo span{
    color: #f5cd55;
    font-size: 35px;
    text-align: justify;
}

.fileiraCadastro{
    width: 90%;
    display: flex;
    justify-content: space-around;
}

.fundo button{
    background-color: black;
    border: solid 3px #f5cd55;
    color: #f5cd55;
    height: 80px;
    width: 300px;
    font-size: 25px;
}

.fundo button:hover{
    background-color: rgb(0, 0, 0);
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(175,0,0,1) 50%, rgba(0,0,0,1) 100%);
    border: solid 5px #f5cd55;
    color: #f5cd55;
    height: 80px;
    width: 300px;
    font-size: 25px;
}

.fundo .anuncio {
    width: 100%;
    display: flex;
    justify-content: center
}

.fundo .anuncio img{
    width: 50%;
}

/* footer */

.footer{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.footer a{
    color: #f5cd55;
}

.footer .link{
    display: flex;
    flex-direction: column;
    height: 120px;
    justify-content: space-around;
    text-align: center;
}